html,body{
    height:100%;
}
*{
    margin:0;
    padding:0;
    box-sizing : border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    background-color: #f4f6f8;
    color:#333;
    line-height:1.6;
}

header{
    background-color: #1e293b;
    color:white;
    padding:20px;
    text-align: center;
}
nav{
    background-color: #334155;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin:0 15px;
}
nav ul li a {
    display: flex;
    padding: 12px;
    text-decoration: none;
    color:white;
    font-weight: bold;
}
nav ul li a:hover{
    background-color: #475569;
    border-radius: 4px;
}
main{
    flex:1;
    padding: 30px;
    
}

.intro {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
.intro h2{
    margin-bottom: 10px;
    color:#1e293b;
}

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    flex-wrap:wrap;
    margin-top: 30px;
}
.card{
    background-color: white;
    padding:20px;
    width:280px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align:center;
}
.card h3{
    margin-bottom: 10px;
    color:#0f172a;
}
footer{
    background-color: #1e293b;
    color:white;
    text-align: center;
    padding:12px;
    margin-top:40px;
}

/* roadmap css */
.roadmap-details {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.roadmap-details ul {
    margin-top: 10px;
    padding-left: 20px;
}

.roadmap-details li {
    margin-bottom: 8px;
}
/* resources css */
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover {
    background-color: #1d4ed8;
}

/* internship page */
.search-box {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* admin page css */
.admin-form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.admin-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

/* resource details css */
.filter-buttons {
    text-align: center;
    margin-bottom: 30px;
}

.filter-buttons button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background-color: #334155;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #475569;
}


